// если вы хотите использовать sass-переменные - удалите root
// colors

:root {
  --color-white: #fff;
  --color-mineShaft: #333;
  --color-tangaroa: #02133c;
  --color-tundora: #4b4b4b;
  --color-dustyGray: #959595;
  --color-alto: #d5d5d5;
  --color-wildSand: #f5f5f5;
  --color-milanoRed: #c40b0b;
  --color-malachite: #21c613;
}