@import "../mixins/_breakpoint.scss";


/*** О нас about-1440px***/
.about {
  padding: 55px 0 125px;

  &__top {
    padding-bottom: 72px;

    &-subtitle {
      margin: 0 0 28px 0;
    }

    &-h3 {
      margin: 0 0 67px;
      font-size: 36.3px;
    }

    &-list {
      padding: 0;
    }

    &-item:not(:last-child) {
      margin-bottom: 20px;
    }

    &-block {
      display: grid;
      grid-template-columns: 67px 1fr;
      grid-gap: 20px;
    }

    &-img {
      width: 66px;
      height: 67px;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &-img_1 {
      background-image: url("../img/card-1.png");
    }

    &-img_2 {
      background-image: url("../img/card-2.png");
    }

    &-img_3 {
      background-image: url("../img/card-3.png");
    }

    &-h4 {
      margin: 5px 0 20px;
    }
  }

  &__center-container iframe {
    width: 100%;
    height: 500px;
    border: 1px solid transparent;
  }

  &__bottom {
    position: relative;
    padding: 99px 0 0;
  }

  &__bottom::before {
    top: 0;
    left: 0;
    width: 640px;
    background-image: url("../img/picture-transparent-2.png");  
    background-position: left;
  }

  &__bottom::before, &__bottom::after {
    content: '';
    position: absolute;
    height: 445px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__bottom::after {  
    right: 0;
    bottom: -128px;
    width: 646px;  
    background-image: url("../img/picture-transparent-3.png");
    background-position: bottom;
  }

  &__bottom-list {
    margin-bottom: 45px;
    padding: 0 0 0 12px;
  }

  &__bottom-item {
    margin-right: 20px;  
    margin-bottom: 25px;
    padding: 50px 49px 34px;
    width: 31.7%;
    background-color: var(--color-white);  
    z-index: 5;/*Для картинки png*/ 
    -webkit-transition: box-shadow .4s ease-in-out; 
    -moz-transition: box-shadow .4s ease-in-out; 
    -ms-transition: box-shadow .4s ease-in-out; 
    -o-transition: box-shadow .4s ease-in-out; 
    transition: box-shadow .4s ease-in-out; 
  }

  &__bottom-item:nth-child(3n) {
    margin-right: 0;
  }

  &__bottom-item:hover {
    box-shadow: 0 8px 16px 0 rgba(38, 38, 38, 0.2);
  }

  &__bottom-h3 {
    margin-top: 26px;
    margin-bottom: 79px;
    font-size: 36.3px;
  }

  &__bottom-img {
    margin: 0 auto;
    width: 66px;
    height: 67px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__bottom-img_4 {
    background-image: url("../img/card-4.png");
  }

  &__bottom-img_5 {
    background-image: url("../img/card-5.png");
  }

  &__bottom-img_6 {
    background-image: url("../img/card-6.png");
  }

  &__bottom-img_7 {
    background-image: url("../img/card-7.png");
  }

  &__bottom-img_8 {
    background-image: url("../img/card-8.png");
  }

  &__bottom-img_9 {
    background-image: url("../img/card-9.png");
  }

  &__bottom-h4 {
    margin-top: 29px;
    margin-bottom: 20px;
    text-align: center;
  }

  &__bottom-desc {
    text-align: center;
  }

  &__bottom-button {
    margin: 0 auto;
  }

  &__bottom-button:focus {
    outline: 1px solid var(--color-tangaroa);
  }

  &__bottom-button:hover {
    background-color: #d52828;
  }

  &__bottom-button:active {
    background-color: #d00c0c;
  }

  &__bottom-button svg {
    margin-left: 5px;
  }  
}
/*** // О нас about-1440px***/



/*** О нас about-1024px***/
@include desktop {
  .about {
    padding-bottom: 70px;

    &__top-h3 {
      margin: 0 0 57px;
      font-size: 35px;
    }
    
    &__top-img {
      width: 56px;
      height: 57px;
    }

    &__bottom {
      padding: 70px 0 0;
    }

    &__bottom::before {
      width: 540px;
      height: 345px;
    }  

    &__bottom::after {
      bottom: -73px;
      width: 546px;
      height: 345px;
    }

    &__bottom-list {
      margin-bottom: 25px;
      padding: 0;
    }

    &__bottom-item {
      padding: 40px 30px 34px;
      width: 47%;
    }  

    &__bottom-item:nth-child(3n) {
      margin-right: 20px;
    }  
  } 
}
/*** // О нас about-1024px***/



/*** О нас about-757px***/
@include tablet {
  .about {
    padding: 35px 0 90px;

    &__top {
      padding-bottom: 30px;

      &-h3 {
        margin: 0 0 50px;
      }

      &-list {
        margin: 0;
      }

      &-block {
        grid-template-columns: 1fr;
      }

      &-img {
        margin: 0 auto;
      }
    }

    &__bottom {
      padding: 50px 0 0;

      &-h3 {
        margin-bottom: 50px;
      }

      &::before {
        width: 470px;
        height: 275px;
      }

      &::after {
        bottom: -87px;
        width: 475px;
        height: 275px;
      }

      &-list {
        margin-bottom: 30px;
      }

      &-item {
        padding: 37px 30px;
        width: 100%;
      }  
    }
  }
}
/*** // О нас about-757px***/



/*** О нас about-434px***/
@include mobile {
  .about {
    padding: 30px 0 50px;

    &__top-subtitle {
      margin: 0 0 20px 0;
    }

    &__top-h3 {
      margin: 0 0 30px;
    }

    &__bottom::before, &__bottom::after {
      width: 400px;
      height: 205px;
    }

    &__bottom-list {
      margin-bottom: 30px;
    }

    &__bottom-item:nth-child(3n) {
      margin-right: 0;
    }

    &__bottom-item:last-child {
      margin-bottom: 0;
    }

    &__bottom-button {
      justify-content: center;
      width: 100%;    
    } 

    &__bottom-button svg {
      margin-left: auto;   
    } 
  } 
}
/*** // О нас about-434px***/