@import "../mixins/_breakpoint.scss";

/***Шапка header***/
.header {
  padding: 24px 0 314px;
  max-width: 100%;
  background-image: url("../img/hero-auto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-tangaroa);

  &__container {
    display: flex;
    align-items: center;
  }

  &__top-logo {
    margin-right: auto;
  }

  &__top-logo:focus {
    outline: 2px solid var(--color-white);
    outline-offset: 8px;
  }

  &__top-list, &__center-clonList {
    display: flex;
    margin: 0;
    padding: 0;    
  }

  &__center-clonList_none1280 {
    display: none;
  }

  &__top-item, &__center-clonItem {
    display: flex;
    margin-right: 39px;
  }

  &__top-icon svg, &__center-clonIcon svg {
    margin-right: 14px;
    width: 23px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  // &__top-icon_one, &__center-clonIcon_one {
  //   background-image: url("../img/header-watch.svg");  
  // } В Gulp-е картинку.svg ставять в html

  &__top-icon_two, &__center-clonIcon_two { 
    outline: none;
  }

  &__top-icon_two:focus svg, &__center-clonIcon_two:focus svg {
    border: 1px solid var(--color-white);
  }

  &__top-icon_two:hover svg, &__center-clonIcon_two:hover svg {
    opacity: .9;
  }

  &__top-icon_two:active svg, &__center-clonIcon_two:active svg {
    opacity: .8;
  }

  &__top-desc, &__center-clonDesc {
    margin: 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    color: var(--color-white);
  }

  &__top-link, &__center-clonLink {
    padding: 0 0 0 17px;
    font-size: 12.5px;
    line-height: 24px;
    -webkit-transition: opacity .3s ease-in-out; 
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out; 
  }

  &__top-link:focus, &__center-clonLink:focus {
    border: 1px solid var(--color-white);
  }

  &__top-link:hover, &__center-clonLink:hover {
    opacity: .9;
  }

  &__top-link:active, &__center-clonLink:active {
    opacity: .8;
  }

  &__top-block-svg, &__center-clonBlock-svg {
    margin-left: 5px;
    height: 40px;
  }

  &__center-content { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 49px 0 41px;
    width: 100%;
    background-color: var(--color-white);
    transform: translateY(43%);  
  }

  &__center-nav {
    display: inline-block;
  }

  .burger {
    position: relative;
    display: none;
    padding: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
  }

  &__center-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;  
  }

  &__center-item {
    position: relative;
    margin-right: 44px;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  &__center-item:nth-child(n+2) {
    margin-right: 38px;
  }

  &__center-item:nth-child(n+4) {
    margin-right: 45px;
  }

  &__center-item:nth-child(n+5) {
    margin-right: 50px;
  }

  &__center-item-btn {
    display: flex;
    align-items: center;
    padding: 0;
    outline: none;
    border: 1px solid transparent;  
    font-weight: 700;
    font-size: 14.5px;
    line-height: 22px;
    color: var(--color-tangaroa);
    background-color: transparent;
    cursor: pointer; 
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -ms-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
    transition: color .4s ease-in-out; 
  }

  &__center-item-btn:focus {
    color: blue;
  }

  &__center-item-btn:hover {
    color: red;
  }

  &__center-item-btn:active {
    opacity: .7;
  }

  &__center-item-btn_after::after {
    content: "";
    display: inline-block;
    margin-top: -2px;
    margin-left: 4px;
    border-top: 1px solid;
    border-right: 1px solid;
    width: 6.5px;
    height: 6.5px;
    color: red;  
    transform: rotate(135deg);
    transition: transform .5s;  
    transition-property: background-color;
    transition: .3s ease-in-out;
  }

  /*Поворот стрелка*/
  &__center-item-btn_after.active--btn::after {
    content: "";
    margin-top: 6px;
    transform: rotate(317deg);  
  }  

  &__center-item_js {
    position: relative;
  }

  &__center-item-btn_js:focus-visible {
    outline: 0;
  }

  &__center-item-btn_js:active {
    background-color: rgba(0,0,0, 0.2);
  }

  &__center-dropdown {
    position: absolute;
    top: 60px;  
    display: none;
    width: 200px;
    color: var(--color-mineShaft);  
    background-color: var(--color-white);
    z-index: 1;
  }

  &__center-dropdown-list {
    padding: 0;
  }

  &__center-dropdown-item {
    padding: 20px 30px;
  }

  &__center-dropdown-item:last-child {
    border: 0;
  }

  &__center-dropdown-link {  
    display: block;
    outline: none;
    cursor: pointer;
    -webkit-transition: background-color .4s ease-in-out, color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out, color .4s ease-in-out;
    -ms-transition: background-color .4s ease-in-out, color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out, color .4s ease-in-out;
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
  }

  &__center-dropdown-link:focus {
    background-color: green;
    color: var(--color-white);
  }

  &__center-dropdown-link:hover {
    background-color: gray;
    color: var(--color-white);
  }

  &__center-dropdown-link:active {
    color: var(--color-white);
    opacity: .7;  
  }
  .active-list--item {
    display: block;
  }

  &__center-block {
    display: flex;
    /* margin-top: 12px; */
    align-items: center;
  }

  /*Лупа*/
  &__center-form {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    padding: 4px 8px;
    background: transparent;  
  }

  &__center-form svg {
    fill: transparent;
    /* margin-top: -5px; */
  }

  &__center-search {
    display: block;
    margin-right: 10px;
    padding: 0;
    width: 25px;
    outline: none;
    cursor: pointer;
    -webkit-transition: fill .3s ease-in-out; 
    -moz-transition: fill .3s ease-in-out;
    -ms-transition: fill .3s ease-in-out;
    -o-transition: fill .3s ease-in-out;
    transition: fill .3s ease-in-out;
  }

  &__center-search:focus svg path, &__center-search:hover svg path {
    fill: var(--color-milanoRed);
  }

  &__center-search:active svg path {
    opacity: .7;
  }

  &__center-input {
    display: none;
    padding-left: 7px;  
    border: none;
    border-bottom: 1px solid var(--color-tangaroa);
    outline: none;
    width: 178px;    
    font-size: 14px;
    color: var(--color-tangaroa);
    caret-color: var(--color-tangaroa);
    background: transparent;  
    -webkit-transition: opacity .3s ease-in-out; 
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out; 
  }

  &__center-input:focus {
    outline: none;
    border-bottom: 1px solid var(--color-milanoRed);
  }

  &__center-input:hover {
    opacity: .7;
  }

  &__center-input--active {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;    
  }

  &__center-close {    
    position: relative;
    display: none;
    width: 20px;
    height: 20px;
  }

  &__center-close-active {
    display: inline-block;
  }

  &__center-close-line {
    position: absolute;    
    display: block;
    margin-top: -4px;
    width: 20px;
    height: 2px;
    background-color: var(--color-tangaroa);    
  }

  &__center-close-line:first-child {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);    
  }

  &__center-close-line:last-child {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);    
  }

  &__center-btn {
    padding: 0;  
    border: none;
    background-color: transparent;  
    outline: none;
    cursor: pointer;
  }

  /*Лупа-js*/
  .search-active {
    margin-right: 17px;
    background: transparent;
    z-index: 1;
  }

  &__bottom-title {
    margin-bottom: 49px;
    padding-top: 103px;
    width: 540px;
    font-size: 56px;
    line-height: 57px;
    color: var(--color-white);  
  }

  &__center-basket {
    outline: none;
    cursor: pointer;
    -webkit-transition: fill .3s ease-in-out;
    -moz-transition: fill .3s ease-in-out;
    -ms-transition: fill .3s ease-in-out;
    -o-transition: fill .3s ease-in-out;
    transition: fill .3s ease-in-out;
  }

  &__center-basket:focus svg path, &__center-basket:hover svg path {
    fill: var(--color-milanoRed);
  }

  &__center-basket:active svg path {
    opacity: .7;
  }

  &__bottom-link:focus {
    outline: 1px solid var(--color-white);
  }

  &__bottom-link:hover {
    background-color: #d52828;
  }

  &__bottom-link:active {
    background-color: #d00c0c;
  }

  &__bottom-link svg {
    margin-left: 5px;
  }
}
/*** // Шапка header-1440px***/



/***Шапка header-1024px***/
@include desktop {
  .header {
    padding: 24px 0 180px;
    background-position: right;

    &__top-link {
      display: none;
    }

    &__center-content {
      padding: 4px 17px 0;
    }

    .menu {
      transform: translateX(-151%);
      transition: transform .7s ease-in-out;
    }

    .menu.is-active {
      transform: none;
    }

    .burger {
      display: block;
      outline: none;
      width: 17px;
      height: 15px;
      cursor: pointer;    
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .4s ease-in-out;
      -moz-transition: .4s ease-in-out;
      -o-transition: .4s ease-in-out;
      transition: .4s ease-in-out;    
    }
    
    .burger span {
      display: block;
      position: absolute;
      width: 8.5px;
      height: 2px;    
      background-color: var(--color-tangaroa);
      opacity: 1;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .4s ease-in-out;
      -moz-transition: .4s ease-in-out;
      -ms-transition: .4s ease-in-out;
      -o-transition: .4s ease-in-out;
      transition: .4s ease-in-out;
    }

    .burger:focus span {
      background-color: var(--color-milanoRed);
    }

    .burger:hover span {
      background-color: blue;
    }
    
    .burger:active span {
      background-color: blue;
    }

    .burger span:nth-child(even) {
      border-radius: 0 9px 9px 0;
    }
    
    .burger span:nth-child(odd) {
      border-radius: 9px 0 0 9px;
    }
    
    .burger span:nth-child(1) {
      top: 0;
      left: 0;
    }
    
    .burger span:nth-child(2) {
      top: 0;
      right: 0;
    }
    
    .burger span:nth-child(3) {
      top: 7px;
      left: 0;
    }

    .burger span:nth-child(4) {
      top: 7px;
      right: 0;
    }
    
    .burger span:nth-child(5) {
      left: 0;
      bottom: 0;
    }

    .burger span:nth-child(6) {
      right: 0;
      bottom: 0;
    }

    .burger.open {
      width: 17px;
      height: 17px;    
    }

    .burger.open span {
      width: 7.5px;
    }
    
    .burger.open span:nth-child(1),.burger.open span:nth-child(6) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    
    .burger.open span:nth-child(2),.burger.open span:nth-child(5) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    
    .burger.open span:nth-child(1) {
      left: 2px;
      top: 5px;
    }
    
    .burger.open span:nth-child(2) {
      left: 6px;
      top: 5px;
    }
    
    .burger.open span:nth-child(3) {
      left: -50%;
      opacity: 0;
    }
    
    .burger.open span:nth-child(4) {
      left: 100%;
      opacity: 0;
    }
    
    .burger.open span:nth-child(5) {
      left: 2px;
      top: 10px;
    }
    
    .burger.open span:nth-child(6) {
      left: 6px;
      top: 10px;
    }

    &__center-list {
      display: block;
      position: absolute;
      margin-left: -17px;
      padding: 0 40px 0 20px;
      z-index: 1;
      background-color: var(--color-white);
    }

    &__center-dropdown {
      top: 8px;
      left: 109px;
      width: 200px;
      border: 1px solid black;
    }

    &__center-item, &__center-item:nth-child(n+2), &__center-item:nth-child(n+4) {
      margin-right: 0;
    }

    &__bottom-title {
      padding-top: 55px;
      width: 100%;
    }
  }
}
/*** // Шапка header-1024px***/



/***Шапка header-757px***/
@include tablet { 
  .header {
    padding: 24px 0 100px;

    &__container {
      display: block;
    }

    &__top-logo {
      display: block;
      margin-right: 0;
      margin-bottom: 3px;    
    }

    &__top-logo-img {
      width: 133px;
    }

    &__top-list_none686 {
      display: none;
    }
    
    &__center-content {
      margin-bottom: 33px;
    }

    &__center-clonList_none1280 {
      display: flex;
    }

    &__center-clonItem {
      margin-right: 20px;
    }

    &__center-clonIcon, &__center-clonIcon svg {
      margin-right: 10px;
      width: 16px;
      height: 15px;
    }  

    &__center-clonDesc {
      font-size: 10px;
      line-height: 18px;
    }  

    &__center-dropdown {
      left: 108px;
    }

    &__bottom-title {
      padding-top: 45px;
      width: 346px;
      font-size: 36px;
      line-height: 40px;
    }
  }
}  
/*** // Шапка header-757px***/



/***Шапка header-434px***/
@include mobile {
  .header {
    padding: 18px 0 70px;

    &__center-content {
      padding: 2px 15px 0;
    }

    .burger {
      height: 14px; 
    }

    .burger span:nth-child(3), .burger span:nth-child(4) {
      top: 6px;
    }

    &__center-clonList_none1280 {
      display: block;
    }

    &__center-clonIcon, &__center-clonIcon svg {
      margin-right: 3px;
    }  

    &__center-clonBlock {
      display: flex;
      width: 100%
    }

    &__center-clonDesc {
      margin-right: 10px;
    }

    &__center-dropdown {
      top: 6px;
      left: 108px;
      width: max-content;
    } 

    &__center-list {
      margin-left: -15px;
    }  

    &__bottom-title {
      margin-bottom: 40px;
      padding-top: 25px;
      width: 90%;
      font-size: 30px;
      line-height: 37px;
    }

    &__bottom-link {
      justify-content: center;
      width: 100%;
    }

    &__bottom-link svg {
      margin-left: auto;
    }
  }
}  
/*** // Шапка header-434px***/ 