<section class="feedback">
  <div class="container feedback__container">
    <div class="feedback__left">
      <div class="feedback__subtitle subtitle">
        <img src="img/whoweare-icon.png" alt="icon">
        Our CUSTOMERS
      </div>
      <h3 class="feedback__title h3">Illum qui dolorem eum quo voluptas ut distinctio</h3>
    </div>          
    <ul class="feedback__list">
      <li class="feedback__item">
        <p class="feedback__desc desc-p">
          “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore ex magna aliqua. Ut enim illum ad minim veniam, quis ea exercitation ullamco cillum ut enim dolore.”
        </p>
        <div class="feedback__info">
          <img src="img/avatar-1.jpg" alt="avatar-1">
          <span class="feedback__span">Cullen Bohannon</span>
        </div>
      </li>
      <li class="feedback__item">
        <p class="feedback__desc desc-p">
          “Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi ipsam voluptatem aspernatur.”
        </p>
        <div class="feedback__info">
          <img src="img/avatar-2.jpg" alt="avatar-1">
          <span class="feedback__span">Jennifer Thomas</span>
        </div>
      </li>                     
    </ul>     
  </div>
</section>