<header class="header">
  <div class="header__top">
    <div class="container header__container">
      <a href="#" class="header__top-logo">
        <img class="header__top-logo-img" src="img/logo.svg" alt="Логотип logoipsum">
      </a>
      <ul class="header__top-list header__top-list_none686">
        <li class="header__top-item">
          <div class="header__top-icon header__top-icon_one"></div>
          <div class="header__top-block">
            <p class="header__top-desc desc-p">
              SERVICE HOURS
            </p>
            <p class="header__top-desc desc-p">
              Mon - Sat: 7:00 am - 6:00 pm
            </p>
          </div>
        </li>
        <li class="header__top-item">
          <a class="header__top-icon header__top-icon_two" href="tel:8(800)000-00-00">
            <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M4 3H7.5C8.05 3 8.5 3.45 8.5 4C8.5 5.25 8.7 6.45 9.07 7.57C9.18 7.92 9.1 8.31 8.82 8.59L6.62 10.79C8.06 13.62 10.38 15.93 13.21 17.38L15.41 15.18C15.61 14.99 15.86 14.89 16.12 14.89C16.22 14.89 16.33 14.9 16.43 14.94C17.55 15.31 18.76 15.51 20 15.51C20.55 15.51 21 15.96 21 16.51V20C21 20.55 20.55 21 20 21C10.61 21 3 13.39 3 4C3 3.45 3.45 3 4 3ZM6.54 5C6.6 5.89 6.75 6.76 6.99 7.59L5.79 8.79C5.38 7.59 5.12 6.32 5.03 5H6.54ZM16.4 17.02C17.25 17.26 18.12 17.41 19 17.47V18.96C17.68 18.87 16.41 18.61 15.2 18.21L16.4 17.02Z" fill="#C40B0B"/>
            </svg>
          </a>
          <div class="header__top-block">
            <p class="header__top-desc desc-p">
              CALL US
            </p>  
            <p class="header__top-desc desc-p">  
              (555) Car-Repair
            </p>              
          </div>
        </li>
      </ul>
      <a class="header__top-link btn" href="#">
        Make an Appointment
        <div class="header__top-block-svg">
          <svg width="43" height="40" viewbox="0 0 43 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M43 40H0L16.7 0H43V40Z" fill="#E30B0B"/>
          <path d="M27.0001 25.3333L26.0601 24.3933L29.7801 20.6667H21.6667V19.3333H29.7801L26.0601 15.6067L27.0001 14.6667L32.3334 20L27.0001 25.3333Z" fill="white"/>
          </svg>
        </div>
      </a>
    </div>
  </div>
  <div class="header__center">
    <div class="container header__container">
      <div class="header__center-content">
        <nav class="header__center-nav">
          <button id="burger" class="burger" aria-label="Меню">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </button>  
          <ul class="header__center-list header__center-list_js menu" id="menu">
            <li class="header__center-item header__center-item_js">
              <button class="header__center-item-btn header__center-item-btn_after header__center-item-btn_js">
                <span class="header__center-item-heading">Services</span>
              </button>
              <div class="header__center-dropdown header__center-dropdown_js">
                <ul class="header__center-dropdown-list">
                  <li class="header__center-dropdown-item">
                    <a class="header__center-dropdown-link" href="#">1</a>
                  </li>
                  <li class="header__center-dropdown-item">
                    <a class="header__center-dropdown-link" href="#">2</a>
                  </li>
                  <li class="header__center-dropdown-item">
                    <a class="header__center-dropdown-link" href="#">3</a>
                  </li>
                  <li class="header__center-dropdown-item">
                    <a class="header__center-dropdown-link" href="#">4</a>
                  </li>
                  <li class="header__center-dropdown-item">
                    <a class="header__center-dropdown-link" href="#">5</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="header__center-item">
              <button class="header__center-item-btn">
                <span class="header__center-item-heading">Specials</span>
              </button>
            </li>
            <li class="header__center-item">
              <button class="header__center-item-btn">
                <span class="header__center-item-heading">Estimates</span>
              </button>
            </li>
            <li class="header__center-item">
              <button class="header__center-item-btn">
                <span class="header__center-item-heading">Reviews</span>
              </button>
            </li>
            <li class="header__center-item header__center-item_js">
              <button class="header__center-item-btn header__center-item-btn_after header__center-item-btn_js">
                <span class="header__center-item-heading">Shop</span>
              </button>
              <div class="header__center-dropdown header__center-dropdown_js">
                <ul class="header__center-dropdown-list">
                  <li class="header__center-dropdown-item">
                    <a class="header__center-dropdown-link" href="#">1</a>
                  </li>
                  <li class="header__center-dropdown-item">
                    <a class="header__center-dropdown-link" href="#">2</a>
                  </li>
                  <li class="header__center-dropdown-item">
                    <a class="header__center-dropdown-link" href="#">3</a>
                  </li>
                  <li class="header__center-dropdown-item">
                    <a class="header__center-dropdown-link" href="#">4</a>
                  </li>
                  <li class="header__center-dropdown-item">
                    <a class="header__center-dropdown-link" href="#">5</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="header__center-item">
              <button class="header__center-item-btn">
                <span class="header__center-item-heading">About</span>
                <span class="header__center-item-icon"></span>
              </button>
            </li>
          </ul>                            
        </nav>
        <div class="header__center-block">
          <form class="header__center-form" action="https://jsonplaceholder.typicode.com/posts">
            <button class="header__center-search" aria-label="Поиск">
              <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.9649 14.255H15.7549L20.7449 19.255L19.2549 20.745L14.2549 15.755V14.965L13.9849 14.685C12.8449 15.665 11.3649 16.255 9.75488 16.255C6.16488 16.255 3.25488 13.345 3.25488 9.755C3.25488 6.165 6.16488 3.255 9.75488 3.255C13.3449 3.255 16.2549 6.165 16.2549 9.755C16.2549 11.365 15.6649 12.845 14.6849 13.985L14.9649 14.255ZM5.25488 9.755C5.25488 12.245 7.26488 14.255 9.75488 14.255C12.2449 14.255 14.2549 12.245 14.2549 9.755C14.2549 7.265 12.2449 5.255 9.75488 5.255C7.26488 5.255 5.25488 7.265 5.25488 9.755Z" fill="#4B4B4B"/>
              </svg>
            </button>
            <input class="header__center-input" type="search" name="text" required="" minlength="2" maxlength="15">
            <button class="header__center-close header__center-btn" aria-label="Свернуть">
              <span class="header__center-close-line"></span>
              <span class="header__center-close-line"></span>
            </button>
          </form>
          <button class="header__center-basket" aria-label="Корзина">
            <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M18.2963 11.97C17.9563 12.59 17.2963 13 16.5463 13H9.09634L7.99634 15H19.9963V17H7.99634C6.47634 17 5.51634 15.37 6.24634 14.03L7.59634 11.59L3.99634 4H1.99634V2H5.26634L6.20634 4H21.0063C21.7663 4 22.2463 4.82 21.8763 5.48L18.2963 11.97ZM19.3063 6H7.15634L9.52634 11H16.5463L19.3063 6ZM7.99634 18C6.89634 18 6.00634 18.9 6.00634 20C6.00634 21.1 6.89634 22 7.99634 22C9.09634 22 9.99634 21.1 9.99634 20C9.99634 18.9 9.09634 18 7.99634 18ZM16.0063 20C16.0063 18.9 16.8963 18 17.9963 18C19.0963 18 19.9963 18.9 19.9963 20C19.9963 21.1 19.0963 22 17.9963 22C16.8963 22 16.0063 21.1 16.0063 20Z" fill="#4B4B4B"/>
            </svg>
          </button>
        </div>
      </div>
      <ul class="header__center-clonList header__center-clonList_none1280">
        <li class="header__center-clonItem">
          <div class="header__center-clonIcon header__center-clonIcon_one"></div>
          <div class="header__center-clonBlock">
            <p class="header__center-clonDesc desc-p">
              SERVICE HOURS
            </p>
            <p class="header__center-clonDesc desc-p">
              Mon - Sat: 7:00 am - 6:00 pm
            </p>
          </div>
        </li>
        <li class="header__center-clonItem">
          <a class="header__center-clonIcon header__center-clonIcon_two" href="tel:8(800)000-00-00">
            <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M4 3H7.5C8.05 3 8.5 3.45 8.5 4C8.5 5.25 8.7 6.45 9.07 7.57C9.18 7.92 9.1 8.31 8.82 8.59L6.62 10.79C8.06 13.62 10.38 15.93 13.21 17.38L15.41 15.18C15.61 14.99 15.86 14.89 16.12 14.89C16.22 14.89 16.33 14.9 16.43 14.94C17.55 15.31 18.76 15.51 20 15.51C20.55 15.51 21 15.96 21 16.51V20C21 20.55 20.55 21 20 21C10.61 21 3 13.39 3 4C3 3.45 3.45 3 4 3ZM6.54 5C6.6 5.89 6.75 6.76 6.99 7.59L5.79 8.79C5.38 7.59 5.12 6.32 5.03 5H6.54ZM16.4 17.02C17.25 17.26 18.12 17.41 19 17.47V18.96C17.68 18.87 16.41 18.61 15.2 18.21L16.4 17.02Z" fill="#C40B0B"/>
            </svg>
          </a>
          <div class="header__center-clonBlock">
            <p class="header__center-clonDesc desc-p">
              CALL US
            </p>  
            <p class="header__center-clonDesc desc-p">  
              (555) Car-Repair
            </p>              
          </div>
        </li>
      </ul>  
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <h2 class="header__bottom-title h2">Top notch service is our main auto motive</h2>
      <a class="header__bottom-link btn" href="#">
        <span class="header__bottom-span">Make an Appointment</span>
        <svg width="43" height="40" viewbox="0 0 43 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M43 40H0L16.7 0H43V40Z" fill="#E30B0B"/>
          <path d="M27.0001 25.3333L26.0601 24.3933L29.7801 20.6667H21.6667V19.3333H29.7801L26.0601 15.6067L27.0001 14.6667L32.3334 20L27.0001 25.3333Z" fill="white"/>
        </svg>
      </a>
    </div>
  </div>
</header>