<section class="services">
  <div class="container services__container">
    <div class="services__top">
      <div class="services__block">
        <div class="services__subtitle subtitle">
          <img src="img/whoweare-icon2.png" alt="icon">
          OUR IMPACT
        </div>
        <h3 class="services__title h3">Nemo enim ipsam voluptatem quia voluptas</h3>
      </div> 
      <div class="services__img"></div>
    </div>  
    <ul class="services__list">
      <li class="services__item">
        <div class="services__image">
          <img src="img/icons-1.png" alt="icons-1">
        </div>
        <div class="services__block">
          <h3 class="services__title-icon h3">16k+</h3>
          <p class="services__desc">Oil changes</p>
        </div>
      </li>
      <li class="services__item">
        <div class="services__image">
          <img src="img/icons-2.png" alt="icons-1">
        </div>
        <div class="services__block">
          <h3 class="services__title-icon h3">13k+</h3>
          <p class="services__desc">Transmission repairs</p>
        </div>
      </li>
      <li class="services__item">
        <div class="services__image">
          <img src="img/icons-3.png" alt="icons-1">
        </div>
        <div class="services__block">
          <h3 class="services__title-icon h3">15k+</h3>
          <p class="services__desc">Alignments made</p>
        </div>
      </li>
      <li class="services__item">
        <div class="services__image">
          <img src="img/icons-4.png" alt="icons-1">
        </div>
        <div class="services__block">
          <h3 class="services__title-icon h3">11,500+</h3>
          <p class="services__desc">Engines repaired</p>
        </div>
      </li>
    </ul>          
  </div>
</section>